*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

main{
    background-color: rgb(243, 243, 254);
    display: flex;
    justify-content: center;
    
    padding: 70px 50px 50px;
    z-index: 1;
}
.top_dark_rect{
    display: block;
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgb(223, 223, 255);;
}
.wrapper{
    display:block;
    width: 672px;

    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 25px 25px 9px;
    z-index: 10;
}
.item_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}
.conv-text-head,
.conv-text-cont{
    font-weight: bold;
    color: rgb(10, 21, 81);
    line-height: normal;
    overflow-wrap: break-word;
    margin-bottom: 1em;
}
.conv-text-cont{
    margin-left: 25px;
}
.section_subheader{
    width: 100%;
    text-align: center;
    color: rgb(10, 21, 81);
    text-decoration: underline;
    margin-bottom: 1em;
}
.section_cont{
    justify-content: center;
    align-items: center;
}
.img_container{
    width: 400px;
}
.content_image{
    width: 100%;
}
.experts_image{
    cursor: pointer;
}
.image_link_text{
    text-align: center;
    color: rgb(10, 21, 81);
    text-decoration: underline;
    line-height: normal;
    overflow-wrap: break-word;
    font-size: 1em;
    font-weight: 700;
    margin-top: 2em;
}
.btn_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
    padding: 0 75px;
}
.btn_link{
    display: flex;
    width: 160px;
    height: 50px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.prog_link{
    background-color: rgb(74, 144, 226);
}
.reg_link{
    background-color: rgb(10, 21, 81);
}
a{
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 765px) {
    .wrapper{
        width: 480px;
    }
    .btn_container{
        padding: 0 25px;
    }
}
@media only screen and (max-width: 480px) {
    .top_dark_rect{
        height: 5vh;
    }
    main{
        padding: 15px 0 50px;
    }
    .wrapper{
        width: 100%;
        padding: 16px 16px 0px;
    }
    .btn_container{
        padding: 0 30px;
    }
    .btn_link{
        width: 145px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    .btn_link{
        width: 115px;
    }
}
@media only screen and (max-width: 376px) {
    .wrapper{
        padding: 16px 8px 0px;
    }
    .btn_link{
        width: 105px;
        font-size: 13px;
    }
}
.item_section img{
    object-fit: contain;
}
.img-only{
    max-height: 40vw;
}